:root {
	--primary: #ffffff;
	--secondary: #000000;
}

body {
	display: flex;
	justify-content: center;
	background-color: var(--primary);
}
h1 {
	justify-self: center;
	letter-spacing: 5px;
	color: var(--secondary);
}
section {
	border: 5px solid var(--secondary);
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-self: center;
	padding: 50px;
	margin: 175px;
}
.img {
	display: flex;
	justify-content: space-around;
}
img {
	width: 5rem;
	height: 5rem;
}

button {
	opacity: 0.015;
}
